*{margin: 0;
padding: 0;}

.Modal{
display: block;
height: fit-content;
width: 40vw;
color: black;
}
[data-cardtype="visa"]{
  background-image: url("./components/images/visa.svg");
}
[data-cardtype="mastercard"]{
  background-image: url("./components/images/mastercard.svg");
}
[data-cardtype="mobilepay"]{
  background-image: url("./components/images/mobilepay.svg");
}